main_iron_noiron_detection_testing.py
main_lava_detection_working.py
main_multiprocessing_working_bak.py
main_multiprocessing_working.py
main_old.py
main_ore_lava_detection_testing.py
main_ore_lava_detection.py
main_some_ore_detection.py
main_threaded_try.py
main_threading_port.py
main_working_good.py
testing.py
